{% load static %}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        {% for rs in sliderdata %}
            <div class="single-hero-items set-bg" data-setbg="{{ rs.image.url }}">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5">
                            <span>{{ rs.type }}</span>
                            <h1>YENI GELENLER</h1>
                            <p>{{ rs.hint }} </p>
                            <a href="#" class="primary-btn">Simdi Odunc Al</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>SUAN <span>RAFTA</span></h2>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</section>
<!-- Hero Section End -->